body {
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
}

h3 {
  font-size: 25px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.purpose {
  line-height: 20px;
  margin: 50px;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
}

.log-in {
  display: flex;
  text-align: right;
  background: white;
  border: 1px solid white;
  transition: all 150ms ease-in-out;
  font-family: "Times New Roman", Times, serif;
}

.log-in:hover {
  cursor: pointer;
  opacity: 0.6;
}

.contact-button {
  display: inline;
  margin: 0 auto;
  padding: 5px;
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
  transition: all 150ms ease-in-out;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.contact-button:hover {
  cursor: pointer;
  color: black;
  background: white;
  border: 1px solid white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin-top: 10px;
}

.grid img {
  border-radius: 10px;
}

.col {
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.col:hover {
  filter: contrast(60%);
  transform: scale(1.1);
}

.post-header {
  font-size: 40px;
  text-align: left;
}

.post-body {
  font-size: 25px;
  opacity: 0.7;
  text-align: left;
}

#all-posts {
  text-align: left;
}

#all-posts:hover {
  color: grey;
}
